<div class="container">
    <div class="row">
        <div class="col-12 p-5">
            <div class="text-center content border border-black rounded">
                <p>Welcome to the tracker app Backend API</p>
                <br>
                <a class="link" href="/api/docs">
                    Check documentation
                </a>
            </div>
        </div>
    </div>
</div>